In [ ]:
숫자형

# 숫자형

In [1]:
a = 123

In [2]:
print(a)

123

In [3]:
a

123

In [5]:
b=456

In [14]:
print(a)
b #여러개를 한 줄 씩 출력할 경우 위쪽의 출력을 원하는 항목은 print()를 사용하고 마지막 항목은 print() 생략 가능하다

1.9

456

In [10]:
a,b #튜플이다. () 괄호 안에 있지만 상황에 따라 생략해도 읽힌다.

(123, 456)

In [11]:
type(a) #a 라는 변수가 어떠한 타입인지 출력하는 명령어

int

In [12]:
a=1.9
a

1.9

In [13]:
type(a)

float

In [70]:
#print() 를 적고 shift + tab 을 하면 api에 등록된 관련 정보를 바로 볼 수 있다.

In [20]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [21]:
help(print) # print?도, help(print)도 print() shift + tab 을 한 거와 같은 내용

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [23]:
num1 = input('숫자를 입력하세요 >>> ') #문자열을 적을 경우 작은 따옴표, 큰 따옴표 둘 다 사용 가능하다.

숫자를 입력하세요 >>>  555

In [24]:
type(num1)

str

In [25]:
print(num1)

555

In [29]:
# 주석을 적을 땐 샵(#)을 적어도 되지만 단축키로 control + / 를 사용하면 된다.

In [31]:
# 박스에 과일을 넣는 작업 중입니다.
# 박스당 들어가는 과일의 갯수와 전체 과일의 갯수를 입력 받아서
# 몇 박스 몇개가 남는지 출력한다.
# 입력 : 박스당 과일 수, 전체 과일 수
# 출력 : x박스 x개

In [32]:
total = int(input('전체 과일의 갯수 >>>')) #input은 기본 str 타입이기에 int형으로 바꿔준다.
box_count = int(input('박스당 과일의 갯수 >>>'))
box = total // box_count
count = total % box_count
print(box, '박스, ', count, '개')

전체 과일의 갯수 >>> 200
박스당 과일의 갯수 >>> 8

25 박스,  0 개

In [34]:
# str -> int : 1,000단위는 오류, $를 적고 하면 $ 때문에 오류가 된다. int 로 바꿀 수 있는 것에 대해서만 바꿀 수 있다. 즉, 모양이 맞아야 바꿔진다.

## 문자열 자료형

In [38]:
"hello 'python'"

"hello 'python'"

In [39]:
'hello "python"'

'hello "python"'

In [40]:
#'hello 
#!!!!'
#만 적으면 오류가 뜨기에 """ 또는 ''' 3개 연속으로 적어주면 줄 바꿔도 가능하다!

In [41]:
''' hello
!!!!
python
!!!
'''

' hello\n!!!!\npython\n!!!\n'

In [42]:
# 한줄 짜리에 줄 바꿈을 나타내고 싶으면 원하는 위치에서 \n 을 사용하면 적용된다.

In [43]:
a

1.9

In [44]:
1 + a

2.9

In [45]:
'1' + 'a'

'1a'

### 문자열 곱하기

In [46]:
'1'*4

'1111'

In [47]:
print('=' * 50)

==================================================

### 문자열 길이 구하기

In [50]:
# lne()은 공백 포함하여 길이 값 구하는 것!

In [49]:
a = 'life is too short'
len(a)

17

### 문자열 인덱싱과 슬라이싱

In [51]:
a = 'Life is too short, You need Python'

In [55]:
a[0] #앞에서 글자 접근

'L'

In [56]:
a[-1] #뒤에서 글자 접근

'n'

In [57]:
a[0:3] ##뒤에 글자는 포함이 안된다. 0에서 부터 3까지 가 아니라 a에서 부터 3앞 까지인 2 까지 출력 된다.

'Lif'

In [60]:
a[:4] #앞에서 부터 4 까지, 앞쪽 생략은 처음부터

'Life'

In [61]:
 a[-6:] #뒤쪽 생략은 끝까지

'Python'

In [62]:
# 주민등록 번호를 입력 받아서 생년월일과 성별을 출력하세요
# 3항 연산자를 이용 (조건 ? 참일 때 : 거짓일 때)

In [65]:
jumin = input('주민등록번호 입력 >>>')
print('생년월일', jumin[:6])
print('성별','남자' if jumin[7]=='2' else '여자')

주민등록번호 입력 >>> 20220627-2193832'

생년월일 202206
성별 여자

## 문자열 포매팅

In [68]:
"i eat %d apples." % 3 # 문자열이 바뀌는 곳은  %f // %d // %s 로 적는다. 뒤쪽에 %를 적고 원하는 구문을 넣는다.

'i eat 3 apples.'

In [69]:
"i eat %d apples. %s" % (3, "end") #여러개를 적을 땐 괄호로 묶어서 사용한다.

'i eat 3 apples. end'

In [73]:
'i eat {} apples. {}'.format(3,'count') #%f, %d, %s 대신에 데이터 타입에 상관 없이 {} 중괄호를 사용한다.
# str 개체에서 제공하는(지원하는) format을 사용

'i eat 3 apples. count'

In [77]:
'i eat {:^10,.2f} apples. {}'.format(321321.123456,'count') #10칸이고(10자리 확보) 소수 이하 2자리 까지, 이땐 f 붙여줘야 한다.
# < 왼쪽 정렬, > 오른족 정렬, ^ 중앙 정렬
# :^10,.2f 콤마를 붙일 경우 1000단위 표시해준다.

'i eat 321,321.12 apples. count'

### f 문자열 포매팅

In [79]:
# 파이썬 3.6버전 부터 사용 가능함

In [80]:
name = input('이름을 입력하세요 >>>')
age = input('나이를 입력하세요 >>>')
print('이름은 {}이고, 나이는 {}살 입니다.'.format(name, age))

이름을 입력하세요 >>> 이정화
나이를 입력하세요 >>> 28

이름은 이정화이고, 나이는 28살 입니다.

In [81]:
name = input('이름을 입력하세요 >>>')
age = input('나이를 입력하세요 >>>')
print(f'이름은 {name}이고, 나이는 {age}살 입니다.')

이름을 입력하세요 >>> 이정화
나이를 입력하세요 >>> 28

이름은 이정화이고, 나이는 28살 입니다.

In [83]:
name = input('이름을 입력하세요 >>>')
age = int(input('나이를 입력하세요 >>>'))
print(f'이름은 {name}이고, 나이는 {age:.1f}살 입니다.')

이름을 입력하세요 >>> 홍길동
나이를 입력하세요 >>> 34

이름은 홍길동이고, 나이는 34.0살 입니다.

## 문자열 관련 함수

In [84]:
a = "hobby"
a.count('b') #b라는 글자가 몇 번이 들어가 있는지 세어보는 함수

2

In [88]:
a = "Python is the best choice"
a.find('b') #인덱스를 리턴하는 것, b가 여러번 있으면 처음 있는 글자의 위치 찹아주는 함수, 찾는 글자가 없을 경우 -1이 출력된다.

14

In [87]:
a = "Life is too short"
a.index('t')

8

In [89]:
a.index('k')
#find는 없을 경우 -1이 출력 되지만, index는 찾는 글자가 없을 경우 오류가 뜬다

ValueError: substring not found

In [90]:
','.join('abcd')

'a,b,c,d'

In [92]:
','.join(['abc','edf','78']) #대괄호는 리스트, 배열은 아니다! 
# 문자열 하나 하나로 구분

'abc,edf,78'

## 공백 지우기
왼쪽 공백 -> .lstrip() // 오른쪽 공백 -> .rstrip() // 양쪽 공백 -> .strip()

In [94]:
a = "Life,is,too,short"
a.split(sep=',')

['Life', 'is', 'too', 'short']

In [98]:
money = True
if money:
    print('taxi')
    print('----')
    # 들여쓰기(tab) 띄어쓰기 4칸이다. 파이썬은 들여쓰기 중요하다!!!!!!
    #Indent~~~ 라고 뜬 에러는 내가 줄을 제대로 안맞췄구나 라고 생각하고 에러를 찾으면 된다.
else:#조건이 더 있을 경우에는 elif 을 사용한다.
    print('walk')

taxi
----

In [99]:
#파이썬은 중괄호가 없기에 내용을 아예 안적으면 문법 상 오류가 발생하기에 pass를 적어줘야 한다.
#아래 예시

In [106]:
if 'money' in ['card','money']:
    pass #구조상 뭔가 들어가야 하는데 지금 당장 결정을 못하는 경우 일단은 건너 뛰겠다는 의미로 사용 가능하다.
else:
    print('카드를 꺼내라')

In [101]:
if 'money' in ['card','money']:pass
else:print('카드를 꺼내라')
#문장이 한줄만 있을 경우 한줄로 사용해도 가능하다.

In [102]:
# while문에서 숫자 0 이면 T, 1이면 F // []안에 글자가 있으면 T, 없으면 F

In [103]:
# while True: 또는 while 1: 을 사용하면 무한루프가 돈다.
# continue를 만나면 해당 회차에 남은 것은 건너뛰고 다른 회차로 진행한다.

In [104]:
#이터러블하다 = 반복 가능하다라는 뜻

In [105]:
#range() 는 순차적으로 진행하게 해주는 함수. 마치 자바의 for 문으로 i 까지 돌리게 하는 것
#range(10) -> 0 ~ 10 // range(1,10) -> 1 ~ 10

In [110]:
## 구구단 출력하기
# -2단-
# 2*1=2
# ...

# -3단-
# ...

In [114]:
for i in range(2, 10):
    print(f'----{i}단----')
    for j in range(1,10):
        print(f'{i} * {j} = {i*j:2}') #2자리 수 확보
    print()

----2단----
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

----3단----
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

----4단----
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

----5단----
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

----6단----
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

----7단----
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

----8단----
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

----9단----
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [111]:
# 2단   3단   4단   5단   6단    ...

In [117]:
for i in range(1,10):
    for j in range(2,10):
        print(f'{j} * {i} = {j*i:2}',end='   ')
    print()

2 * 1 =  2   3 * 1 =  3   4 * 1 =  4   5 * 1 =  5   6 * 1 =  6   7 * 1 =  7   8 * 1 =  8   9 * 1 =  9
2 * 2 =  4   3 * 2 =  6   4 * 2 =  8   5 * 2 = 10   6 * 2 = 12   7 * 2 = 14   8 * 2 = 16   9 * 2 = 18
2 * 3 =  6   3 * 3 =  9   4 * 3 = 12   5 * 3 = 15   6 * 3 = 18   7 * 3 = 21   8 * 3 = 24   9 * 3 = 27
2 * 4 =  8   3 * 4 = 12   4 * 4 = 16   5 * 4 = 20   6 * 4 = 24   7 * 4 = 28   8 * 4 = 32   9 * 4 = 36
2 * 5 = 10   3 * 5 = 15   4 * 5 = 20   5 * 5 = 25   6 * 5 = 30   7 * 5 = 35   8 * 5 = 40   9 * 5 = 45
2 * 6 = 12   3 * 6 = 18   4 * 6 = 24   5 * 6 = 30   6 * 6 = 36   7 * 6 = 42   8 * 6 = 48   9 * 6 = 54
2 * 7 = 14   3 * 7 = 21   4 * 7 = 28   5 * 7 = 35   6 * 7 = 42   7 * 7 = 49   8 * 7 = 56   9 * 7 = 63
2 * 8 = 16   3 * 8 = 24   4 * 8 = 32   5 * 8 = 40   6 * 8 = 48   7 * 8 = 56   8 * 8 = 64   9 * 8 = 72
2 * 9 = 18   3 * 9 = 27   4 * 9 = 36   5 * 9 = 45   6 * 9 = 54   7 * 9 = 63   8 * 9 = 72   9 * 9 = 81