In [1]:
def my_sq(x):
    return x ** 2

In [2]:
def my_exp(x,n):
    return x ** n

In [3]:
my_sq(4)

16

In [4]:
my_exp(2,4)

16

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame({
    'a':[10,20,30],
    'b':[20,30,40]
})

In [7]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [8]:
df['a'].apply(my_sq) #첫번째값이 넘어갑니다

0    100
1    400
2    900
Name: a, dtype: int64

In [10]:
df['a'].apply(my_exp, n=3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [11]:
def print_me(x):
    print(x)

In [12]:
df['a'].apply(print_me)

10
20
30

0    None
1    None
2    None
Name: a, dtype: object

In [13]:
df['a'].apply(print_me,axis=1)

TypeError: print_me() got an unexpected keyword argument 'axis'

In [14]:
import seaborn as sns

In [15]:
titanic = sns.load_dataset('titanic')

In [16]:
titanic.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [17]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [18]:
import numpy as np

In [19]:
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [20]:
titanic.apply(count_missing)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64